
#mainContent {
	width: 1000px;
	text-align: center;
}

#navigationMenu {
	float: left;
}

#productList {
	position: relative;
	margin: auto;
}

#wrapper{width: 1000px ; margin: auto;}

#logo{ 
	display: inline-block;
	float:left;
}


button {
	background-color: pink;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 5px;
	border: 1px dashed green;
	color: white;
	display: block;
	font-size: 16px;
	width: 170px;
	height: 60px;

}

#showCart {
	background-color: #ffbf00;
}

#showCart:hover {
	background-color: #99ff33;
	color: pink;
	font-style: italic;
	font-family: serif;
}

button:hover {
	background-color: #99ff33;
	color: pink;
	font-style: italic;
	font-family: serif;
}

button.add {
	position: relative;
	background-color: #42f45c;
	margin-left: -10px;
	top: -220px;
	width: 60px;
	height: 40px;
	font-size: 10px;
	border: none;
	display: inline-block;
}

button.remove {
	position: relative;
	background-color: #f4424b;
	margin: 10px;
	top: -220px;
	width: 60px;
	height: 40px;
	font-size: 10px;
	border: none;
	display: inline-block;
}

footer {
	clear: both;
	text-align: center;
}


div.row{
	position: relative;
	margin: auto;
	display: inline-block;
	float: right;
}

div.product {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	display: inline-block;
	text-align: center;
	height: 250px;
	width: 220px;
}

div.image {
	height: 100%;
	width: 100%;
}

div.productButtons {
	position: relative;
	margin: 10px;
	top: -160px;
	visibility: hidden;
	height: 100%;
	width: 100%;
}

div.caption h3{
	position: relative;
	top: -50px;
}

div.price {
	position: relative;
	margin-top: -40px;
	margin-left: 10px;
	opacity: 0.8;
	visibility: hidden;
	text-align: center;
	width: 200px;
}


div.cartImage {
	/*position: absolute;*/
	position: relative;
	margin: 10px;
	top: -220px;
	transition: all 0.8s;
	opacity: 0;
	height: 100%;
	width: 100%;
}

div.product:hover div.productButtons{
	visibility: visible;
	opacity: 0.8;
}

div.product:hover div.price{
	visibility: visible;
	background-color: #737373;
	opacity: 0.6;
}

div.product:hover div.cartImage{
	opacity: 0.8;
}

div.product:hover {
	background-color: #bfbfbf;
}


